.navbar-title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.navbar-logo {
  width: 64px;
  margin-right: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  margin-bottom: 8vh;
  flex-direction: row;
}

.logo {
  width: 20vw;
  margin: 20px;
}

.title {
  font-size: 3vw;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.text {
  font-size: 1.1vw;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.list-el {
  font-size: 1.1vw;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}

.big {
  font-size: 8vw;
}

.text-container {
  display: flex;
  padding: 5vh 10vw;
  flex-direction: column;
}

.download-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
}

.download-button {
  font-size: 3vw;
  color: white;
  opacity: 0.5;
  transition: 0.3s;
}

.link {
  margin: 0;
  color: white;
  font-style: unset;
  font-weight: 700;
}

.social-container {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #ffffff;
}

.copyright {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.copyright > p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: black;
  opacity: 0.7;
}

.social-button {
  font-size: 2vw;
  color: black;
  opacity: 0.7;
  transition: 0.3s;
}

a {
  margin: 0 40px 0 40px;
}

.download-button:hover,
.social-button:hover {
  opacity: 1;
}

@media (max-width: 830px) {
  .logo {
    width: 50vw;
  }
  .title {
    font-size: 6vw;
  }
  .big {
    font-size: 18vw;
  }
  .download-button {
    font-size: 8vw;
  }
  .social-button {
    font-size: 6vw;
  }
  .logo-container {
    flex-direction: column;
    margin-bottom: 15vh;
  }
  .text-container {
    padding: 5vh 5vw;
  }
  .text {
    font-size: 3.5vw;
  }
  .list-el {
    font-size: 3.5vw;
  }
}
